<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel  = "stylesheet" href="main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <%- include('header',{page:"Cart"})%>
    <div class="container1 cartContainer">
        <%if(cartFlag === true){%>
        <%for(let i = 0;i<data.length;i++){%>
            <div class="cartProduct gridContent">
                <img src="<%=data[i].img%>"/>
                <h2><%=data[i].name%></h2>
                <p id="pg<%=data[i].id1%>"><%=data[i].price%></p>
                <div class="buttons">
                    <button id="b1<%=data[i].id1%>" type="button" onclick ="btnClicked(event)" >+</button>
                    <input id="id<%=data[i].id1%>" type="text" value="<%=data[i].quantity%>"
                    name="quantity" oninput="setQuantity(event)" >
                    <button id="b2<%=data[i].id1%>" type="button" onclick="btnClicked(event)">-</button>
                    <button id="dt<%=data[i].id1%>" type="button" onclick="deleteBtn(event)">Delete</button>
                </div>
            </div>
        <%}%>
        <%}else{%>
            <h1>404 No Items<br>Please add items to cart</h1>
        <%}%>
    </div>
    <script src="main.js"></script>
    <script>
        function btnClicked(event){
            if(event.target.innerText == "+"){
                let inputElement = document.getElementById(`id${event.target.id.slice(2)}`);
                inputElement.value++;
                console.log(inputElement.value)
                let request = new XMLHttpRequest();
                request.open("POST","/changeContent");
                request.setRequestHeader("Content-Type","application/json");
                request.send(JSON.stringify({value:parseInt(inputElement.value),btn:"+",id1:event.target.id.slice(2)}));
                request.addEventListener("load",function(){
                let data = JSON.parse(request.responseText);
                    document.getElementById(`pg${event.target.id.slice(2)}`).innerText = `$${data.price}`
                });
            }
            else{
                let inputElement = document.getElementById(`id${event.target.id.slice(2)}`);
                if(inputElement.value > 1){
                    inputElement.value--;
                    let request = new XMLHttpRequest();
                    request.open("POST","/changeContent");
                    request.setRequestHeader("Content-Type","application/json");
                    request.send(JSON.stringify({value:parseInt(inputElement.value),btn:"-",id1:event.target.id.slice(2)}));
                    request.addEventListener("load",function(){
                        let data = JSON.parse(request.responseText);
                        document.getElementById(`pg${event.target.id.slice(2)}`).innerText = `$${data.price}`
                    });
                }
            }
        }
        function deleteBtn(event){
            let request = new XMLHttpRequest();
            request.open("POST","/deleteProduct");
            request.setRequestHeader("Content-Type","application/json");
            request.send(JSON.stringify({id1:event.target.id.slice(2)}));
            request.addEventListener('load',function(){
                event.target.parentNode.parentNode.remove();
            })
        }
    </script>
</body>
</html>